.logo-text {
	display: inline-block;
    margin: 0;
}

#logo {
	font-family: "Source Sans Pro Light", sans-serif;
	font-size: 20px;
	
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#logo-name {
	animation: 2s logo-name;
}

#logo-description {
	animation: 2s logo-description;
}

@keyframes logo-name {
	from {
		transform: translateX(-75px);
	}
}

@keyframes logo-description {
	from {
		transform: translateX(75px);
	}
}